<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="web-development">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <a href="#web-development">
                      <a target="_blank" href="https://bigboyellis.com">
                        <figure class="cc-effect">
                              <img src="/assets/images/bbe.jpg" alt="Image"/>
                              <figcaption>
                                  <div class="h4">BBE: Big Boy Ellis musician website</div>
                                  <p>Single Page Web App</p>
                              </figcaption>
                        </figure>
                      </a>
                    </a>
                </div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#web-development">
                  <a target="_blank" href="https://adrianshawarma-app.herokuapp.com/"> 
                    <figure class="cc-effect">
                        <img src="/assets/images/adrian.jpg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Adrian Shawarma web app</div>
                          <p>Restaurant ordering service with sign-up functionality</p>
                        </figcaption>
                    </figure>
                  </a>
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#web-development">
                  <a target="_blank" href="http://iammhp.com">
                    <figure class="cc-effect"><img src="/assets/images/mhp.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">iamMHP musician website</div>
                        <p>Multi Page Web App with Email Subscription</p>
                      </figcaption>
                    </figure>
                  </a>
                </a>
              </div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <a href="#web-development">
                  <a target="_blank" href="https://fresh-africa.herokuapp.com/">
                    <figure class="cc-effect">
                      <img src="/assets/images/fresh1.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Fresh Africa Radio</div>
                        <p>24 hour music streaming service (offline)</p>
                      </figcaption>
                    </figure>
                  </a>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>